.desktop {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  flex-wrap: wrap;
  align-content: flex-start;
  padding-bottom: 100px;

  &_items {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &:hover &-icon {
      filter: hue-rotate(90deg);
    }
    &:hover &-title {
      color: rgb(255, 153, 0);
      transition: 0.2s ease-out;
    }
    &-icon {
      width: 40px;
    }
    &-title {
      font-size: 0.7rem;
      line-height: 1rem;
      margin-top: 0.2rem;
      padding: 0 0.5rem;
    }
  }
}
